extends ../../../templates/master.pug

block content
    
    ol.breadcrumb
      li
        a(href='/index/yourPost') All Posts
      li.active
        a(href='/index/edit') <strong> Edit Post </strong>
      li
        a(href='/index/delete')  Delete Post
    
    br
    
    br
    .row
        .col-md-8
            if alert == 0
                .alert.alert-danger(role='alert') <strong> ERROR! </strong> Duplicate Title of Post.
            if alert == 2
                .alert.alert-success(role='alert') <strong> Well done! </strong> You successfully edit your post.
    
    h4 Choose title you want to edit:
    form(method='POST' action='/index/editpost')
        select.form-control(name="selectTitle")
            each t in titles
                option(value=`${t.title}`)=`${t.title}`
        br
        input.btn.btn-default(type='submit', value='Edit')
        
    
    block content2