extends ../../../templates/loginTemplate.pug

block content
    .row
        .col-md-2
        .col-md-5
            h2 <font face="Lucida Calligraphy" size="6" >SIGN UP</font>
    br
    
    .row
        .col-md-2
        .col-md-5
            if alert == 0
                .alert.alert-danger(role='alert') <strong> ERROR! </strong> The email address you entered already exists or incorrect. Please Choose another one.
                
    .row
        .col-md-2
        .col-md-5
            form(method='POST' action="/signup/signUp" onSubmit="if(!confirm('Do you want to proceed?')){return false;}")
                  .form-group
                    label(for='exampleInputEmail1') Username
                    input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter username(ex.juan)' name="name" required oninvalid="this.setCustomValidity('Enter your desired username!')" oninput="setCustomValidity('')")
                  .form-group
                    label(for='exampleInputEmail1') Email
                    input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email(ex.juan@gmail.com)' name="email" required oninvalid="this.setCustomValidity('Please enter your valid email address!')" oninput="setCustomValidity('')")
                  .form-group
                    label(for='exampleInputEmail1') Birthday
                    input#exampleInputEmail1.form-control(type='date', aria-describedby='emailHelp', placeholder='' name="bday" required oninvalid="this.setCustomValidity('Birthday information is required!')" oninput="setCustomValidity('')")
                  .form-group
                    label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(type='password', placeholder='Enter Password(a tricky password is suggested)' name="password" required oninvalid="this.setCustomValidity('Please enter your password!')" oninput="setCustomValidity('')")
                  button.btn.btn-primary(type='submit') Submit